<div class="">
    <nav class="px-4 navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{appname}}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class=" navbar-nav">

            <ng-container *ngIf='isLoggedIn'>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)='logout()' routerLink="/auth">Logout</a>
                </li>
            </ng-container>

            <ng-container *ngIf='!isLoggedIn'>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/auth']" [queryParams]="{'action': 'login'}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/auth']" [queryParams]="{'action': 'register'}">Register</a>
                </li>
            </ng-container>


        </ul>
    </nav>
</div>