<div class="">
    <!-- Curernt fofrmatted Address -->
    <div class="p-2">
        <div class="p-3">
            <h3>All Addresses Added By User</h3>
        </div>
        <div *ngFor='let address of addresses;index as i'>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-title">

                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">{{i+1}}. {{address.formattedAddress|titlecase}}</div>
                            <div class="p-2 flex-shrink-1 bd-highlight"><a class="mr-auto" target="_blank"
                                    href="https://www.google.com/maps/?q={{address.latitude}},{{address.longitude}}">
                                    <mat-icon aria-label="Example launch icon">launch</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>